<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Mission Stats</div>
        <div class="panel-body">{% include "missions/perstat-stats.njk" %}</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Roster</div>
        <div class="panel-body">{% include "missions/roster.njk" %}</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Mission Map</div>
        <div class="panel-body">{% include "missions/map-mission.njk" %}</div>
    </div>
</div>