<table id="awards" class="table table-striped table-bordered" >
    <thead>
    <tr>
        <th>Award</th>
        <th>Count</th>
        <th>Details</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Award</th>
        <th>Count</th>
        <th>Details</th>
    </tr>
    </tfoot>
    <tbody>
    <tr class="active">
        <td>Military Indoctrination</td><!--Award-->
        <td>1</td><!--Count-->
        <td><a href="award-details.html?award=mi">Details</a></td><!--Details-->
    </tr>
    <tr class="active">
        <td>Mission Badge</td><!--Award-->
        <td>3</td><!--Count-->
        <td><a href="award-details.html?award=mb">Details</a></td><!--Details-->
    </tr>
    </tbody>
</table>