{% extends "base.njk" %}

{% block main %}

<h1>Welcome</h1>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">PVT JOE NoBody</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://robohash.org/PVT-JOE-NOBODY" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Brigade</td>
                            <td>5th</td>
                        </tr>
                        <tr>
                            <td>Battalion</td>
                            <td>4th</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td>B</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>Gender</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Home Address</td>
                            <td>658 Noplace LN, Macon, GA</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:joe.nobody@gasdf.us">joe.nobody@gasdf.us</a></td>
                        </tr>
                        <td>Phone Number</td>
                        <td>478-555-1234(Landline)<br><br>478-555-1234(Mobile)</td>

                        </tr>

                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary">My Sales Performance</a>
                    <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a data-original-title="Broadcast Message" href="mailto:joe.nobody@gasdf.us" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            <span class="pull-right">
                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            </span>
        </div>

    </div>
</div>

{% endblock %}