{% extends "base.njk" %}

{% block main %}

<h1>Welcome</h1>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">PVT JOE NoBody</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " > <img alt="User Pic" src="https://robohash.org/PVT-JOE-NOBODY" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Rank</td>
                            <td>Private</td>
                        </tr>
                        <tr>
                            <td>Grade</td>
                            <td>E1</td>
                        </tr>
                        <tr>
                            <td>Unit</td>
                            <td><a href="/unit/">B CO, 4th BN, 5th BDE</a></td>
                        </tr>
                        <tr>
                            <td>Joined</td>
                            <td>01JUN2012</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Home Address</td>
                            <td><a href="https://www.google.com/maps/place/659+Arlington+Pl,+Macon,+GA+31201">658 Noplace LN, Macon, GA</a></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:joe.nobody@gasdf.us">joe.nobody@gasdf.us</a></td>
                        </tr>
                        <tr>
                        <td>Phone Number</td>
                        <td>478-555-1234(Landline)<br><br>478-555-1234(Mobile)</td>

                        </tr>


                        </tbody>
                    </table>

                    <canvas id="myChart" ></canvas>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
                    <script>
                        var ctx = document.getElementById("myChart");
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ["2011", "2012", "2013", "2014", "2015", "2016"],
                                datasets: [{
                                    label: 'Points per year',
                                    data: [12, 19, 3, 8, 2, 3],
                                    backgroundColor: [
                                        'rgba(200, 99, 132, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(200,99,132,1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>

                    {% include "user/stats.njk" %}

                    <a href="/missions/past.html" class="btn btn-primary">Mission History</a>
                    <a href="/missions/" class="btn btn-primary">Upcoming Missions Signed Up</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a data-original-title="Broadcast Message" href="mailto:joe.nobody@gasdf.us" data-toggle="tooltip" role="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            <span class="pull-right">
                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" role="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            </span>
        </div>

    </div>
</div>

{% endblock %}