<table id="mission-stats" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Year</th>
        <th>Count</th>
        <th>Credit</th>
        <th>Missed</th>
        <th>AWOL</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Year</th>
        <th>Count</th>
        <th>Credit</th>
        <th>Missed</th>
        <th>AWOL</th>
    </tr>
    </tfoot>
    <tbody>
    <tr class="active">
        <td>2016</td><!--year-->
        <td>3</td><!--Count-->
        <td>18</td><!--Credit-->
        <td>0</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    <tr class="warning">
        <td>2015</td><!--year-->
        <td>5</td><!--Count-->
        <td>7</td><!--Credit-->
        <td>1</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    <tr class="success">
        <td>2014</td><!--year-->
        <td>5</td><!--Count-->
        <td>23</td><!--Credit-->
        <td>0</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    <tr class="danger">
        <td>2013</td><!--year-->
        <td>3</td><!--Count-->
        <td>6</td><!--Credit-->
        <td>1</td><!--Missed-->
        <td>1</td><!--AWOL-->
    </tr>
    <tr class="warning">
        <td>2013</td><!--year-->
        <td>2</td><!--Count-->
        <td>6</td><!--Credit-->
        <td>1</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    <tr class="success">
        <td>2014</td><!--year-->
        <td>4</td><!--Count-->
        <td>7</td><!--Credit-->
        <td>0</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    </tbody>
</table>