




<!-- Latest compiled and minified JavaScript -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- Bootstrap Cal lib -->
<script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap-calendar/js/calendar.js"></script>
<link rel="stylesheet" href="/bower_components/bootstrap-calendar/css/calendar.css">


<!-- Data Tables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<!-- Custom Stuff -->
<link rel="stylesheet" href="/css/app.css">
<script src="/js/app.js"></script>
