

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Missions<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="download">
                    <li><a href="/missions/my.html">My Missions</a></li>
                    <li class="divider"></li>
                    <li><a href="/missions/available.html">Available</a></li>
                    <li><a href="/missions/past.html">Past</a></li>
                    <li><a href="/missions/future.html">Future</a></li>
                    <li><a href="/missions/">All</a></li>
                </ul>
            </li>
        </ul>


