<table id="drill-stats" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Year</th>
        <th>AT</th>
        <th>Count</th>
        <th>Credit</th>
        <th>Missed</th>
        <th>AWOL</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Year</th><!--year-->
        <th>AT</th><!--AT-->
        <th>Count</th><!--Count-->
        <th>Credit</th><!--Credit-->
        <th>Missed</th><!--Missed-->
        <th>AWOL</th><!--AWOL-->
    </tr>
    </tfoot>
    <tbody>
    <tr class="active">
        <td>2016</td><!--year-->
        <td>0</td><!--AT-->
        <td>11</td><!--Count-->
        <td>6</td><!--Credit-->
        <td>1</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    <tr class="warning">
        <td>2015</td>
        <td>1</td>
        <td>11</td>
        <td>10</td>
        <td>1</td>
        <td>0</td>
    </tr>
    <tr class="success">
        <td>2014</td>
        <td>1</td>
        <td>11</td>
        <td>11</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr class="danger">
        <td>2013</td>
        <td>0</td>
        <td>11</td>
        <td>8</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr class="warning">
        <td>2012</td>
        <td>0</td>
        <td>11</td>
        <td>11</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr class="success">
        <td>2011</td><!--year-->
        <td>1</td><!--AT-->
        <td>11</td><!--Count-->
        <td>11</td><!--Credit-->
        <td>0</td><!--Missed-->
        <td>0</td><!--AWOL-->
    </tr>
    </tbody>
</table>