<table id="mission-stats" class="table table-striped table-bordered" >
    <thead>
    <tr>
        <th>Year</th>
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
        <th>Total</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Year</th>
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
        <th>Total</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>2016</td><!--year-->
        <td>3</td><!--JAN-->
        <td>18</td><!--FEB-->
        <td>0</td><!--MAR-->
        <td>0</td><!--APR-->
        <td>3</td><!--MAY-->
        <td>18</td><!--JUN-->
        <td>0</td><!--JUL-->
        <td>0</td><!--AUG-->
        <td>3</td><!--SEP-->
        <td>3</td><!--OCT-->
        <td>18</td><!--NOV-->
        <td>0</td><!--DEC-->
        <td>44</td><!--Total-->
    </tr>
    <tr>
        <td>2015</td><!--year-->
        <td>3</td><!--JAN-->
        <td>18</td><!--FEB-->
        <td>0</td><!--MAR-->
        <td>0</td><!--APR-->
        <td>3</td><!--MAY-->
        <td>18</td><!--JUN-->
        <td>0</td><!--JUL-->
        <td>0</td><!--AUG-->
        <td>3</td><!--SEP-->
        <td>3</td><!--OCT-->
        <td>18</td><!--NOV-->
        <td>0</td><!--DEC-->
        <td>44</td><!--Total-->
    </tr>
    </tbody>
</table>